body {
	background: black;
	text-align: center;
}

.wrapper {
	width:  0 auto;
	height: 1000px;
	background: white;
}

header {
	text-align: center;
	padding-top: 2px;
	padding-bottom: 25px;
	background: grey;
}

.container {
	margin: 0 auto;
	width: 500px;
	height: 500px;
	background: #256FCC;
	text-align: center;
}
.tic-tac-toe {
	position: relative;
	border: 5px solid black;
	width: 411px;
	height: 450px;
	margin: 0 auto;
	padding-left: 10px;
}
.box
	{
	height: 125px;
	width: 125px;
	border: 1px solid black;
	margin-right: 10px;
	margin-top: 20px;
	float: left;
}

.box:hover {
	background: blue;
}
.box-click {
	background: red;
}
.left-container {
	border: 1px black solid;
	float: left;
}
.right-container{
	border: 1px black solid;
	float: right;
}
.red {
	background: red;
}