<!DOCTYPE html>
<html ng-app="TicApp">
<head >
	<title>Play Tic Tac Toe!</title>

	<script src="js/angular.min.js"></script>

	<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>

	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

	<script src="js/main.js"></script>

	<script src="js/TicTacToeController.js"></script>

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

</head>
<body >
	<section id="TicTacToe" ng-controller="TicTacToeController as TTT">

		<div class="wrapper">

			<h1>just Tic Tac Toe</h1>

			<h2> {{ TTT.showWinner  }}  {{ TTT.showCats }}</h2>

			<div class="left-container">
				<form ng-submit="TTT.setPlayer1(player1name)" id="p1-form">
					<input type= "text" ng-model= "player1name" ng-hide="TTT.game.Player1" placeholder="Player 1 name.." >
					<div class = "team-name">{{TTT.game.Player1}}</div>
				</form></br></br>
				<button id="Submit1" ng-hide="TTT.game.Player1" ng-click="TTT.setPlayer1(player1name)">Join</button>
				<p ng-show="TTT.game.P1Move">Your move!</p>
			</div>

			<div class="middle-container">
			</div>

			<div class="right-container">
				<form ng-submit = "TTT.setPlayer2(player2Name)">
					<input type = "text" ng-hide="TTT.game.Player2" ng-model="player2Name" placeholder="Player 2 name..">
					<div class = team-name>{{TTT.game.Player2}}</div>
				</form></br>
				<button id="Submit1" ng-hide="TTT.game.Player2" ng-click="TTT.setPlayer2(player2Name)">Join</button>
				<p ng-show="TTT.game.P2Move">Your move!</p>
			</div>

			<div class="tic-tac-toe">
				<div class="box" ng-bind="TTT.game.grid[$index].box" ng-repeat="box in TTT.game.grid" ng-click="TTT.getMove($index)"></div>
			</div>

			<div ng-show="TTT.game.gameOver" id = "reset">
			<p ng-show="TTT.game.showWinner">{{ TTT.game.showWinner }} </p>
			<p ng-show="TTT.game.showCats">{{ TTT.game.showCats }} </p>
			 <a href="#" id="resetGame" ng-click="TTT.resetGame()" ng-if="TTT.game.gameOver">Start New Game</a>
			 </div>

		</div>
			<!-- <script src="js/app.js"></script> -->
	</section>
</body>
</html>
