<!DOCTYPE html>
<html ng-app="TicApp">
<head >
	<title>Play Tic Tac Toe!</title>

	<script src="js/angular.min.js"></script>

	<script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>

	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

	<script src="js/main.js"></script>

	<script src="js/TicTacToeController.js"></script>

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

</head>
<body >
	<section id="TicTacToe" ng-controller="TicTacToeController as TTT">

		<div class="wrapper">

			<h1>just Tic Tac Toe</h1>

			<h2> {{ TTT.showWinner  }}  {{ TTT.showCats }}</h2>

			<div class="left-container">


				<form id = "p1-form">
					<input type= "text" ng-model= "TTT.player1" ng-hide= "player1name" placeholder="Enter Team Name" >
					<button id="Submit1" ng-hide="player1name" ng-click= "player1name= 'false'">+</button>
					<div class = "team-name">{{TTT.player1}}</div>
				</form>

			</div>
			<div class="middle-container">
			</div>
			<div class="right-container">

				<form ng-submit = "TTT.player2(TTT.newPlayer2Name)">

					<input type = "text" ng-model="TTT.player2" placeholder="Enter Team Name">
					<div class = team-name>{{TTT.player2}}</div>
			</div>

			<div class="tic-tac-toe">

				<div class="box" ng-bind="TTT.game.grid[$index].box" ng-repeat="box in TTT.game.grid" ng-click="TTT.getMove($index)"></div>

			</div>

			<div id = "reset">
			 <a href="#" id="resetGame" ng-click="TTT.resetGame()">Start New Game</a>
			 </div>
		</div>
			<!-- <script src="js/app.js"></script> -->
	</section>
</body>
</html>